body{
    background-color: white;
    margin: 0;
    position: relative;
}

.navbar a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif, Medium 500;
    font-weight: bold;
    color: #FF7C29;
}

.navbar a:hover{
    color: #CB6CE6;
}

.navbar{
    background-color: white;
    width: 100%;
    height: 5em;
}

#homelink{
    padding-left: 15%;
    width: 50%;
    float: left;
}

.navbar ul {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar ul li{
    display: inline;
    padding: 2%;
    margin: 2%;
    background-color: white;
}

#container{
    width: 100%;
    height: 1em;
    background-color: #EFEFEF;
    margin-bottom: 0em;
}

.maincontent{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 50%;
    margin: 5rem auto 0 auto;
    font-family: 'Poppins', sans-serif;
}

.maincontent h1{
    margin-right: 15px;
    margin-top: 1.05em;
    font-weight: bold;
    font-size: 50px
}
#homeimage img{
    height: 300px;
}

.socials{
    position: fixed;
    margin-top: 1.5em;
    width: 100%;
    background-color: #FF7C29;
    height: 150px;
}

.socials ul {
    width: 100%;
    text-align: center;
    padding-top: 3.5em;
}

.socials ul li{
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding-right: 1.5%;
}

.socials ul li a{
    text-decoration: none;
    color: white;
}

.socials ul li a:hover{
    color: #CB6CE6;
}

.aboutcontent{
    width: 100%;
    display: flex;
    height: 500px;
}
.abouttext{
    width: 50%;
    margin-top: 5em;
    padding-bottom: 1000px;
}
.card {
    position: absolute;
    border-style: dotted red 4px;
    width: 300px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card h4{
    font-family: 'Poppins', sans-serif;
}

.card p{
    font-family: 'Poppins', sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    padding: 2px 16px;
}

.aboutsocials{
    position: fixed;
    margin-top: 1.5em;
    width: 100%;
    background-color: #FF7C29;
    height: 100px;
}

.aboutsocials ul {
    width: 100%;
    text-align: center;
    padding-top: 2.5em;
}

.aboutsocials ul li{
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding-right: 1.5%;
}

.aboutsocials ul li a{
    text-decoration: none;
    color: white;
}

.aboutsocials ul li a:hover{
    color: #CB6CE6;
}
@media screen and (max-width: 640px) {

}